MONGO_URI=
JWT_SECRET=
TENANT_BOOTSTRAP_SECRET=
SCHEDULE_UPLOAD_LIMIT=
FLIGHT_LIMIT=
EMAIL_USER=admin@airlineplan.com
EMAIL_PASS=

ADMIN_EMAIL='admin@airlineplan.com'
ADMIN_PASSWORD_HASH=$2b$10$jvtwZ5oxLNMVLZzYk7iSjOJjgDJUEmx0mQHimb.4spOMymbFv6Wm.
ADMIN_JWT_SECRET='supersecretadmintoken'
ADMIN_JWT_EXPIRES_IN=8h

AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_KEY_PAIR_NAME=
AWS_SECURITY_GROUP_ID=
AWS_SUBNET_ID=
AWS_AMI_ID=

GODADDY_API_KEY=
GODADDY_API_SECRET=
GODADDY_DNS_TTL=600
ROOT_DOMAIN=airlineplan.com

ATLAS_PUBLIC_KEY=
ATLAS_PRIVATE_KEY=
ATLAS_ORG_ID=
ATLAS_PROJECT_TEMPLATE_ID=
ATLAS_PROVIDER_NAME=AWS
ATLAS_REGION_NAME=AP_SOUTH_1
ATLAS_INSTANCE_SIZE=M10
ATLAS_MONGODB_MAJOR_VERSION=7.0

APP_REPO_URL=
APP_REPO_BRANCH=main
CERTBOT_EMAIL=
